AGENDEI_WEB_PORT=3000
JWT_SECRET=your_jwt_secret_key_here

DATABASE_PORT=5432
DATABASE_NAME=agendei_web_db
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

DATABASE_PRISMA_URL="postgresql://postgres:postgres@postgres-agendei-web:5432/agendei_web_db?schema=public"